*
{
	padding: 0;
	margin: 0;
}
  body
  {
	background-image: url(../images/whitebackground.jpg);
	background-size: cover;
	background-position: center;
  }
  .menu-bar 
  {
	  background: rgb(0,0,139);
	  text-align: center;
  }
  .menu-bar ul
  {
	  display: inline-flex;
	  list-style: none;
	  color: #fff;
  }
  .menu-bar ul li
  {
	  width: 150px;
	  margin: 1px;
	  padding: 15px;
  }
  .menu-bar ul li a
  {
	  text-decoration: none;
	  color: #fff;
  }
  .active, .menu-bar ul li a:hover
  {
	  background: #2196F3;
	  border-radius: 3px;
	  
  }
  .menu-bar .fa
  {
	  margin-right: 10px;
  }
  
 
	.container{
		text-align: center;
		margin-top: 100px;
	}
	.btn{
		border: 1px solid #3498db;
		background: none;
		padding: 10px 20px;
		font-size: 20px;
		font-family: "montserrat";
		cursor: pointer;
		margin: 10px;
		transition: 0.8s;
		position: relative;
		overflow: hidden;
	}
	.btn1,.btn2,.btn3{
		color: #3498db;
		
	}
	.btn1:hover,.btn2:hover,.btn3:hover{
		color: #fff;
		
	}
	.btn::before{
		content: "";
		position: absolute;
		left: 0;
		height: 0%;
		width: 100%;
		background: #2d85b0;
		z-index: -1;
		transition: 0.8s;
		
		
	}
	.btn1::before,.btn3::before{
		top: 0;
		border-radius: 0 0 50% 50%;
		
	}
	.btn2::before{
		bottom: 0;
		border-radius: 50% 50% 0 0;
		
	}
	
	 .btn1:hover::before,.btn2:hover::before,.btn3:hover::before {
		  height: 180%;
		  
	  }
	.nurse
	{
		position: absolute;
		width: 1200px;
		margin-left: 0px;
		margin-top: 0px;
	}
	h1
	{
		color: black;
		text-transform: uppercase;
		font-size: 50px;
		text-align: center;
		margin-top: 60px;
		
	}
 