*
{
	margin: 0;
	padding: 0;
	
}
body{
	background-image: url(../images/whitebackground.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}

h2{
	text-align: center;
	padding: 20px;
	
}

.updatepatientinformation{
	  background: #2d85b0;
	width: 500px;
	margin: 0px 0px 0px 430px;
	color: white;
	font-size: 18px;
	    padding: 20px;
    border-radius: 10px;

	
}

#updatepatientinformation{
	margin-left: 50px;
}

label{
	color: white;
	font-family: san-serif;
	font-size: 18px;
	
	
}
#name{
	width: 400px;
	border: 30px;
	outline: 0;
	padding: 10px;
	
}
#num{
	width: 400px;
	padding: 10px;
	border: 30px;
	
	outline: 0;
}
#sub{
	width: 200px;
	padding: 7px;
	font-size: 16px;
	font-family: san-serif;
	font-weight: 600;
	border: none;
	border-radius: 3px;
	outline: 0;
}
 
#wrapper{
	max-width: 1400px;
	margin: 0 auto;
	background-color: #fff;
	padding: 0px;
}

header{
	background-color: #2196F3;
	height: 50px;
	padding: 4px;
}
header h1{
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	line-height: 30px;
}

.menu-bar 
  {
	  background: rgb(0,0,139);
	  text-align: center;
  }
  .menu-bar ul
  {
	  display: inline-flex;
	  list-style: none;
	  color: #fff;
  }
  .menu-bar ul li
  {
	  width: 120px;
	  margin: 1px;
	  padding: 15px;
  }
  .menu-bar ul li a
  {
	  text-decoration: none;
	  color: #fff;
  }
  .active, .menu-bar ul li a:hover
  {
	  background: #2196F3;
	  border-radius: 3px;
	  background-color: #ee1111;
	  
  }
 
  .sub-menu-1
  {
	  display: none;
	  
  }
  .menu-bar ul li:hover .sub-menu-1 
  {
	  display: block;
	  position: absolute;
	  background: rgb(149, 165, 166);
	  margin-top: 15px;
	  margin-left: -15px;
	  
	  
  }
  .menu-bar ul li:hover  .sub-menu-1 ul
  {
	  display: block;
	  margin: 10px;
	  
	 
  }
  .menu-bar ul li:hover  .sub-menu-1 ul li
  {
	  width: 150px;
	  padding: 10px;
	  border-bottom: 1px dotted #fff;
	  background: transparent;
	  border-radius: 0;
	  text-align: left;
	 
	  
  }
  .menu-bar ul li:hover  .sub-menu-1 ul li:last-child
  {
	  border-bottom: none;
	  
  }
  .menu-bar ul li:hover  .sub-menu-1 ul li a:hover
  {
	  background-color:rgb(33, 72, 243);  

  }

  .sub-menu-2
  {
	  display: none;
  }
  .hover-me:hover .sub-menu-2
  {
	  position: absolute;
	  display: block;
	  margin-top: -40px;
	  margin-left: 140px;
	  background: rgb(149, 165, 166);
  }


  